{{#if data}}
<h1 class="center padding-top">Mes favoris</h1>
{{else}}
<h1 class="center padding-top">Vous n'avez pas encore ajouté de favoris</h1>

{{/if}}

<div id="severalFav">
{{#each data}}
<div id="oneFav">
<img class="image-dashboard" src="{{this.fields.cover_url}}" alt=""></img>
<h1>{{this.fields.title}}</h1> 
<p class="marginItem">{{{this.fields.lead_text}}}</p>
<p class="marginItem" id="date-description">{{{this.fields.date_description}}}</p> 
<p class="marginItem"><i class="fas fa-map-pin"></i></i>{{this.fields.address_name}}</p>
<p class="marginItem"><i class="fas fa-map-marker-alt">  </i>{{this.fields.address_street}} {{this.fields.address_zipcode}} {{this.fields.address_city}}</p> 
{{!-- 
AJOUTER BOUTON REMOVE
<a href="/remove-favorite">Retirer de mes favoris :<i class="fas fa-heart"></i></a>
<a href="/already-done">J'y suis déjà allé !<i class="far fa-hand-peace"></i></a> --}}
</div>
{{/each}}

</div>


